body{
  background: #212121;
  color: #666;
}
h1{
  text-align: center;
  color: #fff;
}
.clearfix{
  clear: both;
}

#message{
  background: #333;
  color: #fff;
}

.game {
  width: 500px;
  height: 500px;
}
.cell {
  float: left;
  height: 32%;
  width: 32%;
}
.subBoard.center {
    border-left: 2px solid #555555;
    border-right: 2px solid #555555;
  }
.subBoard.middle {
    border-top: 2px solid #555555;
    border-bottom: 2px solid #555555;
  }
.tic.center {
  border-left: 1px solid #555555;
  border-right: 1px solid #555555;
}
.tic.middle {
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
}

#gameBoard li:hover, #reset:hover{
  cursor: pointer;
  background: #000;
}
#reset{
  border: 0;
  background: #444;
  color: #fff;
  width: 70%;
  padding: 15px;
  border-radius: 5px;
}
.o{
  background-color: blue !important;
}
.x{
  background-color: red !important;
}
footer{
  display: block;
  text-align: center;
  padding-top: 20px;
}
